@font-face {
    font-family: 'BPreplay';
    src: url('BPreplayItalic.eot'); /* IE9 Compat Modes */
    src: url('BPreplayItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('BPreplayItalic.woff') format('woff'), /* Modern Browsers */
         url('BPreplayItalic.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: italic;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}